ion-content {
    --background: var(--background-color);
    overflow-x: auto;
}

ion-row {
    width: 100%;
    justify-content: center;
}

ion-col {
    align-self: center;
}

ion-button {
    width: 100%;
    --color: white;
    --border-radius: 10px;
    --background: var(--success-color);
    text-transform: capitalize;
}

ion-list {
    background: transparent;
}

ion-searchbar {
    padding-top: 1rem;
    --background: var(--input-color);
    --border-radius: 10px;
}

ion-card {
    border-radius: 15px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

ion-card-header {
    background: var(--primary-color);
    
    ion-card-title {
        font-weight: 600;
        color: white;
    }

    ion-card-subtitle {
        padding-top: 5px;
        color: white;
    }
}

ion-card-content {
    background: var(--input-color);
    padding: 1rem;
}

ion-label {
    font-weight: 700;
    color: white;
}

.col-cantidad {
    text-align: right;
}

.collapsed {
    display: none;
}