<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="12">
      <div *ngIf="isLoadingSalones; else listSalones">
        <ion-row>
          <ion-col size="12">
            <ion-spinner name="circular"/>
          </ion-col>
        </ion-row>
      </div>
      <ng-template #listSalones>
        <ion-list>
          <ion-card *ngFor="let asisItem of asistencias">
            <ion-card-header>
                <ion-row>
                  <ion-col size="8">
                    <ion-card-title class="text-lg">
                      Salon {{ asisItem.NomSa }}
                    </ion-card-title>
                  </ion-col>
                  <ion-col class="col-subtitle" size="4">
                    <ion-card-subtitle class="text-md">
                      Edificio {{ asisItem.NomEdi }}
                    </ion-card-subtitle>
                  </ion-col>
                </ion-row>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col size="8">
                  <ion-label class="text-md">
                    {{ asisItem.Fecha }}
                  </ion-label>
                </ion-col>
                <ion-col class="col-hora" size="4">
                  <ion-label class="text-md">
                    {{ asisItem.Hora }}
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </ng-template>
    </ion-col>
  </ion-row>
</ion-content>
