ion-grid {
    background: linear-gradient(45deg, var(--secondary-color) 0%, var(--light-color) 100%);
}

ion-col {
    display: flex;
    justify-content: center;
}

ion-spinner {
    color: var(--dark-color);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

ion-label {
    color: var(--dark-color);
}

.img-app {
    width: 9rem;
    margin-top: 8rem;
}

.label-name {
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: var(--dark-color);
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.label-version {
    margin-top: 6rem;
    margin-bottom: 0.5rem;
}