// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --background-color: #000000;
    --primary-color: #04767A;
    --secondary-color: #7ecfc9;
    --tertiary-color: #000000;
    --success-color: #000000;
    --warning-color: #000000;
    --danger-color: #000000;
    --dark-color: #022840;
    --medium-color: #000000;
    --light-color: #d4fafb;
    --input-color: #dff9f9;
}